; yummie
; --------
; Global settings and flags
;

[yummie]

; Debug level in yum, for help, see `man yum`
debuglevel      = 0

; Be verbose, default: no
; If not enabled, yummie will try to be as quiet as possible
verbose         = no

; Do upgrade, default: no
; If not enabled, yummie will do no actual upgrades
upgrade         = yes

; Use sudo, default: no
; If not enabled, yummie will fail to do upgrades if not executed as root
sudo            = no

; Post script to run after doing upgrades, default: none
; The post script receives a list of packages in a file as the last argument,
; the return code of the ; post script will be used as the return code of the
; yummie run.
;post           = /path/to/script

; bin
; ---
; Paths to binaries
;

[bin]

sudo            = /usr/bin/sudo
yum             = /usr/bin/yum

; log
; ---
; Logging options
;

[log]

; Log method, either syslog, file or stderr
method          = syslog

; File options
file.filename   = test.log
; File size maximum (in MB)
file.filesize   = 100

; Syslog options
syslog.address  = /dev/log
syslog.facility = daemon

; package
; -------
; Package exclusions
;
; You can specify strings or globs to match package names. Packages listed here
; will be excluded from automated upgrades.
;
; Mind that the keys configured here have to be unique.
;

[package]
exclude.apache  = httpd*

; repository
; ----------
; Repository exclusions
;
; You can specify strings or globs to match repository names. Packages in the
; repositories listed here ; will be excluded from automated upgrades.
;
; Mind that the keys configured here have to be unique.
;

[repository]
exclude.custom = custom-*
exclude.epel   = epel*
exclude.mysql  = mysql*

; vim:ft=ini
